services:

#  db:
#    image: mysql
#    container_name: we3ve-mysql
#    hostname: we3ve-mysql
#    env_file:
#      - .env
#    ports:
#      - "${DB_PORT:-3306}:3306"
#    command: --default-authentication-plugin=mysql_native_password
#    restart: always
#    environment:
#      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-my-secret-pw}
#      MYSQL_DATABASE: ${DB_NAME:-we3ve}
#    healthcheck:
#      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
#      timeout: 20s
#      retries: 10
#    volumes:
#      - we3ve_mysql:/var/lib/mysql
#
#  backend:
#    image: registry.code.fbi.h-da.de/istmibosc/car-sharing-refactoring:latest
#    container_name: we3ve-backend
#    command: node dist/server.js
#    ports:
#      - "8000:8000"
#    env_file:
#      - .env
#    environment:
#      - NODE_ENV=production
#      - DB_HOST=we3ve-mysql
#    depends_on:
#      db:
#        condition: service_healthy
#
#  web_app:
#    image: registry.code.fbi.h-da.de/stlsklei/car-sharing-frontend-refactoring:latest
#    ports:
#      - "80:80"
#      - "443:443"
#    restart: always
#    volumes:
#      - .env:/usr/share/nginx/html/assets/.env
#      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

#  landingpage:
#    image: registry.code.fbi.h-da.de/sttgleeee/wp8-landingpage
#    container_name: we3ve-landingpage
#    restart: always
#    command: npx tinacms dev -c "hugo server -D -p 1313"
#    network_mode: host

  test:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test-nginx
    ports:
      - 82:80


volumes:
  we3ve_mysql:
