<!-- JS Plugins + Main script -->
{{ $scripts := slice }}
{{ $scriptsLazy := slice }}
{{ range site.Params.plugins.js }}
  {{ if findRE "^http" .link }}
    <script
      src="{{ .link | relURL }}"
      type="application/javascript"
      {{ .attributes | safeHTMLAttr }}></script>
  {{ else }}
    {{ if not .lazy }}
      {{ $scripts = $scripts | append (resources.Get .link) }}
    {{ else }}
      {{ $scriptsLazy = $scriptsLazy | append (resources.Get .link) }}
    {{ end }}
  {{ end }}
{{ end }}



<!-- main script -->
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
  import { getAuth, 
            signOut, 
          signInWithEmailAndPassword,
          onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
  import { getFirestore } from 'https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js'
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  // Initialize Firebase

  const firebaseApp = initializeApp({
    apiKey: "AIzaSyDKpEUYUHasncbA6cXOjwNveA2HBWYPL0I",
    authDomain: "wp8-landingpage.firebaseapp.com",
    projectId: "wp8-landingpage",
    appId: "1:896107917728:web:88f6cfee3d15fc524074c5",
    measurementId: "G-664N3L8Y98"
  });
  const auth = getAuth(firebaseApp);

  //listen for auth status changes
  auth.onAuthStateChanged(user => {
    if (user) {
      console.log("user logged in: ", user);
    } else {
      console.log("user logged out");
    }
  });

  // Login
  const loginForm = document.querySelector('#login-form');
  loginForm.addEventListener('submit', (e) => {
    e.preventDefault();

    //get user info
    const email = loginForm.querySelector('#email').value;
    const password = loginForm.querySelector('#password').value;

    signInWithEmailAndPassword(auth, email, password)
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      console.log('Sign-in error: ', errorCode, errorMessage)
    });
  })

  //Logout
  const logout = document.querySelector('#logout');
  logout.addEventListener('click', (e) => {
    e.preventDefault();

    signOut(auth)
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      console.log('Sign-in error: ', errorCode, errorMessage)
    })
  })

</script>

{{ $scripts = $scripts | append (resources.Get "js/main.js") }}
{{ $scripts = $scripts | resources.Concat "js/script.js" }}

{{ $scriptsLazy = $scriptsLazy | resources.Concat "js/script-lazy.js" }}

{{ if hugo.IsProduction }}
  {{ $scripts = $scripts | minify | fingerprint }}
  {{ $scriptsLazy = $scriptsLazy | minify | fingerprint }}
{{ end }}

{{/* scripts */}}
<script
  crossorigin="anonymous"
  integrity="{{ $scripts.Data.Integrity }}"
  src="{{ $scripts.RelPermalink }}"></script>

{{/* scripts lazy */}}
<script
  defer
  async
  crossorigin="anonymous"
  integrity="{{ $scriptsLazy.Data.Integrity }}"
  src="{{ $scriptsLazy.RelPermalink }}"></script>

<!-- progressive web app -->
{{ partialCached "pwa.html" . }}


<!-- cookie consent -->
{{ partialCached "cookie-consent.html" . }}


<!-- google adsense -->
{{ partialCached "adsense-script.html" . }}


